ul.dropdown-menu{position: absolute;
margin: auto;
float: left;
left: 200px;}
.sceditor-container {
    overflow: visible !important;
}
#st_gdpr_iframe {
    right: -5000px !important;
    left: auto !important;
}
@media (max-width: 575px) {
    div.sceditor-dropdown {
        left: auto!important;
        right: 0!important;
    }
}