/* Custom theme styles that overwrites theme */
body {padding-top: 100px; padding-bottom: 40px;}
.body_fixed{padding-top: 0px;}
.sidebar-nav {padding: 9px 0;}
hr {margin: 20px 0; border: 0; border-top: 1px solid #eeeeee; border-bottom: 1px solid #ffffff;}
li {list-style-type: none;}
.pr-10 {padding-right: 17px;}
.pl-10 {padding-left: 17px;  float: none; position:  relative;}
.resp-header-search {display: none;  margin-bottom: 10px;}
.ml-10{ margin-left: 10px;}
.logo {padding:15px 15px; max-height: 50px;}
.logo_img {padding:5px 15px!important;}
.logo img {max-height: 40px;}

#search-custom-fields {margin-top:10px;}
#search-custom-fields .form-group div {margin-right:10px;}
.search-btn-special {border:0; margin-top:5px; padding:6px 10px;}

.category_box_title {
	height: 30px;
	top: 2px;
	position: relative;
	border: 1px solid #e3e3e3;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius:5px 5px 2px 0px;
	padding: 5px 0px 0px 0px;
	background-color: #222;
}

.category_box_title img {max-width: 30px;}
.custom_box {height: 10px;}
.min-h {display:block;}
.custom_box_content {background-color: #FFF; padding: 0 0 0 5px;}
.highlight {background-color: #f5f5f5; padding: 13px;}
.category_box_title a {color: white; font-size: 17px; margin-left: 5px;}
.custom_box_content .nav>li>a {margin-left: -10px; margin-right: -10px;}
.def-size-form input {max-width: 155px;}
.def-size-form select {min-width: 155px;}
.picture img {max-width: 200px;margin-right: 10px;}
.count_ads {float:right;}
.nav-header a{
	text-decoration: none;
	font-size: 12px;
	position: relative;
	top: 5px;
}
.navbar-header .navbar-btn {
  position: relative;
  margin-top: 17px;
}
.navbar-header .navbar-toggle {
  margin-left: 4px;
  background-color: #9bc3d7;
}
.navbar-header .btn-custom1 {
  margin-top: 0;
}
.nav .widget_notification{border-radius: 4px!important;}

.widgets_footer,
.widgets_header{padding-bottom: 20px}
.widgets_header .panel-heading,
.widgets_footer .panel-heading{
  border: none;
}
.widgets_header .panel-title,
.widgets_footer .panel-title{
  border: none;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 23px;
}
/* Coupon input*/
input[name="coupon"]{
  height: 30px;
}
/*Publish new*/
.cat-selector{
	margin: 2px 0px 0 0;
	height: 30px;
	font-size: 14px;
	padding-top: 3px;
	background: #fff;
	color: inherit;
	border-color:#ccc;
	text-align: left;
}
.accordion-heading .glyphicon-plus.glyphicon{float: right; font-size: 18px;}
.accordion-heading .radio {padding:0;}

#custom-fields .form-group.required label:after {
  content:" *";
  color:red;
}
#custom-fields .form-group.required label.checkbox_group:after {
  display: none;
}
label.error{
  display: block;
  font-weight: 700;
  padding-left: 0;
}

/*Listing*/
#gallery .thumbnail{min-height: 100%!important}
.picture figure img {
	border: 1px solid #CCCCCC;
	display: block;
	line-height: 0;
	max-width: 100%;
	height:auto;
	padding: 3px;
}

.picture figure img:hover { border:1px solid #013F5C; box-shadow:0 0 5px rgba(194, 194, 194, 0.7); }
#share a { margin:0 5px 5px 0;  float:left; }
.thumbnail ul {padding-left: 0px; }

/* Checkout page*/
.delete_coupon{
  margin-top: 5px;
}

/*List/grid*/
.small-txt {word-wrap:break-word;}
.item {word-wrap:break-word!important;  background:none;}
.item .thumbnail { background:none;}
.item .thumbnail:hover {background:none;}
.item.list-group-item {float: none;width: 100%; margin-bottom: 10px;}
.item.list-group-item .list-group-image {margin-right: 10px;}
.item.list-group-item .thumbnail {margin: -2px -7px -2px -7px;border:none;}
.item.list-group-item .caption {padding: 9px 9px 0px 9px;height: 200px;}
.item.list-group-item:before, .item.list-group-item:after {display: table;content: " ";}
.grid-group-item .thumbnail {padding:10px;}
.list-group-item h2, .grid-group-item h2 {margin-top: 0px!important;}
li.price{color: #23527c;}

/*.list-group-item .thumbnail{padding-bottom: 30px!important;}*/
.featured-ads,.featured-item {background: #cce8ef!important;}
.featured-item .label-danger{background-color: #222;}
.item.list-group-item img{
    float: left;
    margin-right: 20px;
    max-width: 90px;
}
.item.list-group-item:after {clear: both;}
.list-group-item-text {margin: 0 0 11px;}
.featured{background:#EFF8FF;}
.advert_img {float: left; margin-right: 5px;}
.mr-new {padding-left: 150px;}
.price {color: rgb(192, 79, 79);}
.latest_ads {word-wrap:break-word;}
#modal-gallery{	width: 50%;}
.header_cat_list{font-size: 13px;}
.btn-header-group{margin-top: 10px;}

/* collapsable categories selector*/
.accordion-group {
	border: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
}

.accordion-inner {border-top: none;}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.resized {width: 205px;}
.error{color:#ff1a1a;}
.social-btn{margin-bottom: 10px !important;}

/*custom multy-level dropdown */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.latest_ads{min-height: 300px;}
.navbar-inverse {background-color: #222; border-color: #333;}
.navbar-inverse .navbar-nav>li>a{color:#fff;}
.navbar-inverse .navbar-brand {color: #fff; margin-left:0 !important}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {color: #fff; background-color: transparent;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {color: #fff;background-color: #4EB7F3;}

/* collapsable categories selector*/
.accordion-body {margin-left: 15px;}
.select2-container--default .select2-selection--single {
    height: 34px;
    border-color: #ccc;
    padding-top: 2px;
    padding-bottom: 4px;
}
.select2-container .select2-selection--multiple {
    min-height: 34px;
    border-color: #ccc;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #aaa;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}

/* selectpicker dropdown menu*/
.bootstrap-select > .dropdown-toggle{width:auto;}
.bootstrap-select.btn-group .dropdown-menu {min-width:auto;}

/* shade and size of slider arrows*/
.carousel-control{width: 6%;}
.carousel-control.right, .carousel-control.left{background-image: none; right:15px;}
.carousel-control span {margin:0 !important; top:0 !important; right:0 !important; bottom:0 !important; left:0 !important;}
/* no different badge styles in boot3*/
.badge-success{background-color: #5cb85c;}
.carousel .carousel-inner .item img {
}
.carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left{ margin-top:3px!important; }

.caption{word-wrap:break-word;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{background-color: #222;}
.navbar-collapse.bs-navbar-collapse.collapse{padding-left: 0;padding-right: 0px;}

.favorite i {font-size:20px;color:#888888;}
.favorite .remove-favorite i {color:#C9302C;}

.navbar-brand h1 {font-size: 18px;line-height:20px; margin:0;}

.panel-home-categories {
    border: 1px solid #e3e3e3;
}
.panel-home-categories > .panel-heading {
    background-color: #222;
    color: #FFFFFF;
    font-size: 17px;
    padding: 5px 15px;
}
.panel-home-categories > .panel-heading a {
    color: #FFFFFF;
}
.panel-home-categories > .panel-heading img {
    max-width: 30px;
}
.panel-home-categories > .panel-body > .list-group {
    margin-bottom: 0;
}
.panel-home-categories > .panel-body > .list-group > .list-group-item {
    padding: 10px 0;
    border: none;
}
.panel-home-categories > .panel-body > .list-group > .list-group-item:first-child {
    padding-top: 0;
}
.panel-sidebar {
    border: 1px solid #e3e3e3;
}
.panel-sidebar > .panel-heading {
    padding-bottom: 0;
    border-top: 8px #222 solid;
}
.panel-sidebar.Widget_Categories > .panel-body > ul,
.panel-sidebar.Widget_Locations > .panel-body > ul,
.panel-sidebar.Widget_Forum > .panel-body > ul,
.panel-sidebar.Widget_RSS > .panel-body > ul {
    padding-left: 0;
    margin-bottom: 0;
}
.sidebar-nav.well > .inner > .panel-body > div > a{
    white-space: normal;
}
.sidebar-nav .panel-heading{
  border: none;
}

/* datepicker modal fix */
.datepicker {
    z-index: 1060;
}

/* stripe custom button */
.stripe-button-el span {
  background: none !important;
  height: unset !important;
  min-height: unset !important;
  font-weight: 700 !important;
  padding: 0px !important;
  border: 0px !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;

  font-size: 14px !important;
  line-height: 20px !important;
  text-align: center !important;
  vertical-align: middle !important;
}
.stripe-button-el,
.stripe-button-el:hover,
.stripe-button-el:focus,
.stripe-button-el:active.stripe-button-el:visited {
  display: inline-block !important;
  padding: 6px 12px !important;
  margin-bottom: 0 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  text-align: center !important;
  vertical-align: middle !important;
  cursor: pointer !important;
  color: #333 !important;

  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;

  background-image: none !important;
  background:#497cb1 !important;

  text-shadow: none !important;

  border: 2px solid !important;
  border-color: #497cb1 !important;

}
.stripe-button-el:hover,
.stripe-button-el:focus {
  background: #426f9f !important;
  border: 2px solid !important;
  border-color: #426f9f !important;
  color: #FFFFFF !important;
}

.stripe-button-el span:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f09d';
  padding-right: 10px;
  text-shadow: none !important;
  font-size: 14px !important;
}
img#captcha_img_publish_new {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.blog-description img {
    display: inline-block;
    height: auto!important;
    max-width: 100%;
}
.blog-description iframe {
    display: block;
    max-width: 100%;
}
.text-description img {
    display: inline-block;
    height: auto!important;
    max-width: 100%;
}
.text-description iframe {
    display: block;
    max-width: 100%;
}


/* User */
#user_profile_info .thumbnail{min-height: 0}
.fa-check-circle{color:#1da1f2;}

.fa-whatsapp, .fa-skype, .fa-telegram{
  background: #fdfdfd;
  padding: 2px 4px;
  border-radius: 5px;
  border: 1px solid #ececec;
  border-bottom: 3px solid #ececec;
  border-right: 2px solid #ececec;
}

/* Forums */
.table > tbody > tr.success > td{
    background-color: #ebf3f7;
}
.table > tbody > tr.success:hover > td {
    background-color: #e1edf3;
}

/* blueimp gallery */
.blueimp-gallery > .indicator > li {
    width: 50px;
    height: 50px;
}

/* Share Widget */
.Widget_Share span{
  position: static;
}

/* Follow us widget */
.widget_follow a:hover{
  text-decoration: none;
}
.widget_follow i{
  margin: 2px;
}
.widget_follow a:hover .fa{
    color: #ccc;
}
.widget_follow .fa-facebook-square{
    color: #3a5795;
}
.widget_follow .fa-twitter-square{
    color: #55acee;
}
.widget_follow .fa-instagram{
    color: #b09375;
}
.widget_follow .fa-pinterest-square{
    color: #cb2027;
}
.widget_follow .fa-google-plus-square{
    color: #d73d32;
}
.widget_follow .fa-linkedin-square{
    color: #0077b5;
}
.widget_follow .fa-youtube-square{
    color: #e12b28;
}
.widget_follow .fa-flickr{
    color: #ff0084;
}

.Widget_Image{
  background-color: inherit;
}

.Widget_Seller .glyphicon-star{
  color: #DAA520;
}

/*Media screens*/
@media screen and (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin:7.5px 15px 20px 15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
@media screen and (max-width: 1199px) {
	.header-search{display: none;}
	/*header .container{width: 770px;}*/
}
@media screen and (max-width: 979px) {
    .navbar .nav > li { border:0; }
    .container{width: auto;}
    .resp-header-search{display: block; margin-top: 60px;}

}
@media only screen and (max-width: 767px) {
    /* phones */
    .mr-new{padding-left: 50px;}
    .def-size-form input, .def-size-form select{max-width: 100%;}
    .homepage_map{
      width: 100%;
      height: auto!important;
    }
}

/* Old CSS */
@font-face { font-family: 'BebasNeueRegular';
src: url('fonts/BebasNeue-webfont.eot');
src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/BebasNeue-webfont.woff') format('woff'),  url('fonts/BebasNeue-webfont.ttf') format('truetype'),  url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg'); font-weight: normal; font-style: normal; }

/* CSS Document */
img { border:none; }
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
ul, ol { margin:0; padding:0; }
li { list-style:none; }
body { font-family:Arial, Tahoma, Verdana; background:#e7e7e7 url("../img/stripe1.png") repeat; }
.required { font-weight:bold; }
span.break { display:block; }
.label-success, .badge-success {background-color: #00576A;}
.label-success:hover, .label-success:active, .label-success:focus, .badge-success:hover, .badge-success:active, .badge-success:focus {background-color: #0090B3!important;}
.page-header {margin:0;}
h1, h2, h3, h4, h5, h6 { font-family:"BebasNeueRegular","Trebuchet",Arial,sans-serif; font-weight:normal; }
h2 { font-size:25px; }
h3 { font-size:20px; }
a { color:#0090B3; }
a:focus { outline:none;}
a, a:visited {transition: all 0.2s ease-in 0s;}
.error{color:#ff1a1a;}
.mr-30 {margin-right: 10px;}
.ml-10{margin-left: 10px;}
.mr-new{padding-left: 150px;}


/* ========TOP Menu============*/
.header {
	background: #ddecf3;/* #EBF9FF 0%, #90B6CB 100% */
	background: -moz-linear-gradient(top,  #ddecf3 0%, #9bc3d7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddecf3), color-stop(100%,#9bc3d7));
	background: -webkit-linear-gradient(top,  #ddecf3 0%,#9bc3d7 100%);
	background: -o-linear-gradient(top,  #ddecf3 0%,#9bc3d7 100%);
	background: -ms-linear-gradient(top,  #ddecf3 0%,#9bc3d7 100%);
	background: linear-gradient(to bottom,  #ddecf3 0%,#9bc3d7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddecf3', endColorstr='#9bc3d7',GradientType=0 );
	border-bottom: 1px solid #FFFFFF;
	border-top: 3px solid #0090B3;
	box-shadow: 0 -1px 1px 1px #001C3D;
	padding-bottom: 5px;
	margin:0;
}
.header:before { background:transparent url(../img/stripe1.png) repeat;
	content:''; width:100%; position:absolute; top:0; left:0; bottom:0; right:0; display:block;
}
#top-header { margin-bottom:5px; margin-top:-10px; position:relative;}
.breadcrumb { background:#e9e9e9;}
.js .collapsed {display:block !important;}
/* Logo */
.logo { float:left; position:relative;}
.logo h1 { font-size: 40px; font-family:"BebasNeueRegular","Trebuchet",Arial,sans-serif; font-weight:normal; color:#222; line-height:30px}
.logo a { color:#222; }
.logo img { margin-top:10px; }
.login-btns { margin-top:11px; margin-right: 35px; }
.login-btns a.btn-inverse { color:#fff; }
.social-btn{margin-bottom: 10px; margin-right: 5px;}
/*Publish new*/
.cat-selector{max-width: 300px;width: 264px; margin: 0;height: 30px;font-size: 15px;padding-top: 3px;background: #fff;color: inherit;border-color:#ccc;text-align: left;}
.cat-selector p{margin: 0;padding-top: 4px;}
.accordion-heading .icon-plus{float: right;margin-top: 5px;}
.accordion-heading .radio{padding:0;}

/* Login BTNS */
.group-right-box { float:right; margin-bottom:25px;}
.group-right-box input.search-query {
	border:2px solid #AEC5CB !important;
	background:#E4E4E4;
	box-shadow:-2px 0px 3px rgba(66,66,66,.25) inset;
	float: right;
	display:none;
	margin: 10px 0 10px 10px;
}
.group-right-box input.search-query:focus { background:#f5f5f5;}
.group-right-box form { margin-bottom:0; }
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus { background-color:#2F7300; }
.log .btn {
	display: inline-block;
  	padding: 4px 12px !important;
  	font-size:14px;
}

/* Top navigation */
.top-navigation li{ float: left; padding:10px 10px; border-radius:4px; font-weight:bold;}
.top-navigation li:hover { background:rgba(250,250,250,.20);}
.top-navigation li:last-child { border-right:0; padding-right:0; padding-top:4px; font-weight:normal;}
.top-navigation li:last-child:hover {background:none;}
.top-navigation li a { font-size:12px; color:#666 !important /* Important class to remove */; padding:0;}
.top-navigation li.active a { color:#0C4A8A;}
.top-navigation .dropdown-menu {left: auto; right:0;}
.top-navigation .dropdown-menu li {width:100%; padding:0;}
.top-navigation .dropdown-menu li a {padding:10px;}
.top-navigation .dropdown-menu .divider {margin:0; padding:0;}
#btn-login { color:#f9f9f9;}
header .btn-success{
	background-color: #9bc3d7;
	background-image: none;
  color:#666 !important;
}
header .btn-success:hover, header .btn-success:active, header .btn-success:focus{
	background-color: #0090B3;
	border-color: #0090B3;
	background-image: none;
}
header .btn-success .badge{ color: #0090B3; }
/*.navbar-inverse .navbar-toggle .icon-bar { background-color: #000;}*/
.dropdown-header{ padding: 3px 20px!important; }
/* Categories Menu*/
.categories-navigation { float:right; position:relative; margin:-15px 15px 0 15px; clear:both; text-align:right;}
.categories-box { padding:30px 0 20px 0; display:none;  }
.categories-box .row > ul {  margin-bottom:10px; padding-bottom:10px; }
.categories-box .row ul li { padding-right:10px; position:relative; line-height:1.7em;}
.categories-box .row ul li .badge { position:absolute; top:0; right:0;}
.categories-box .row ul li a { color:#777 !important; }
.categories-box .row > ul > li > a {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
}
.categories-box ul > li > ul li a { font-weight:normal; display:block;}

/* Buttons */
.btn {
	-moz-box-shadow:    inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  	box-shadow:         inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  	color:black;
  	padding:4px 12px;
  	border:1px solid #ccc;
  	background: -webkit-linear-gradient(#ffffff, #e9e9e9); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#ffffff, #e9e9e9); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#ffffff, #e9e9e9); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#ffffff, #e9e9e9); /* Standard syntax */
}

.btn:hover, .btn:focus, .btn:active {
	background: -webkit-linear-gradient(#ffffff, #e9e9e9); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#ffffff, #e9e9e9); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#ffffff, #e9e9e9); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#ffffff, #e9e9e9); /* Standard syntax */
  	color:#333333;
  	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}


.btn.active, .btn:active, .btn:hover, .btn:focus {
  	background-image: none;
  	outline: 0;
  	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  	box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

.btn-custom1 {
	background: -webkit-linear-gradient(#d2372c, #7e211a); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#d2372c, #7e211a); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#d2372c, #7e211a); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#d2372c, #7e211a); /* Standard syntax */
  	margin-top:5px;
  	color:white;
  	border-color: #7e211a #7e211a hsl(4, 65%, 25%);
}

.btn-custom1:hover, .btn-custom1:focus, .btn-custom1:active {
  	color:white;
  	border-color:#999;
  	background: -webkit-linear-gradient(#d2372c, #7e211a); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#d2372c, #7e211a); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#d2372c, #7e211a); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#d2372c, #7e211a); /* Standard syntax */
}

.btn-custom2 {
	background: -webkit-linear-gradient(#444444, #222222); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#444444, #222222); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#444444, #222222); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#444444, #222222); /* Standard syntax */
  	margin-top:5px;
  	color:white;
  	border-color: #222222 #222222 #000000;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.);
}

.btn-custom2:hover, .btn-custom2:focus, .btn-custom2:active {
  	color:white;
  	border-color:#999;
  	background: -webkit-linear-gradient(#444444, #222222); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#444444, #222222); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#444444, #222222); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#444444, #222222); /* Standard syntax */
}

.btn-success {
  	color: #ffffff;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  	background-color: #00576A;
  	background-image: -moz-linear-gradient(top, #0090b3, #00576A);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0090b3), to(#00576A));
  	background-image: -webkit-linear-gradient(top, #0090b3, #00576A);
  	background-image: -o-linear-gradient(top, #0090b3, #00576A);
  	background-image: linear-gradient(to bottom, #0090b3, #00576A);
 	 background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  	border-color: #00576A #00576A #0090b3;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  	color: #ffffff;
	background-color: #0090b3!important;
	background-image: none!important;
	border-color: #0090b3;
}

.btn-warning {
  	color: #ffffff;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  	background-color: #faa732;
  	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  	background-image: -o-linear-gradient(top, #fbb450, #f89406);
  	background-image: linear-gradient(to bottom, #fbb450, #f89406);
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  	border-color: #f89406 #f89406 #ad6704;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
  	color: #ffffff;
  	background-color: #f89406;
}
a > i { margin-right:5px; margin-top:1px; }

/*================= Home ==========================*/
#main { padding:20px; padding-bottom:0; background:#F2F2F2; border-right:1px solid #fff; border-left:1px solid #fff; box-shadow:0 2px 5px rgba(33,33,33,.25), -1px 0 0 #CCCCCC, 1px 0 0 #CCCCCC; margin-top:1px; }
.thumbnail { background:#f9f9f9; min-height: 195px;}
.thumbnail:hover { background:#f5f5f5; }
.featured-posts h2 { margin-top:0;}
.featured-posts { display:none; }
.categories * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.categories .category-container { margin:0 2% 14px 0; }
.categories h2 { margin: 0 0 10px; }
.categories .category-container {
	background:#F5F5F5;
	border-color: #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	border:1px solid #ccc;
	border-top:none;
	list-style-type: none;
	margin-bottom: 20px;
	padding: 0 8px 15px;
	margin-right:0;
}
.categories .category-container:hover { box-shadow: 0 0 5px rgba(66,66,66,.25);}
.ie .categories .category-container .panel-heading { border-top-left-radius: 0; border-top-right-radius: 0; }
.categories .category-container .list-group li { background:none; border-bottom: 1px solid #DDDDDD; line-height: 24px; margin: 0; overflow: hidden; padding: 4px 2px; text-transform: lowercase; }
.categories .category-container .panel-heading {
  	background-color: #CDE3EC;
  	border-color: #CCCCCC #CCCCCC #0090B3;
  	border-style: solid;
  	border-top-left-radius: 5px;
  	border-top-right-radius: 5px;
  	border-width: 1px 1px 2px;
  	font-weight: bold;
  	line-height: 26px;
  	margin: 0 -9px;
  	overflow: hidden;
  	padding: 0 10px 0 10px;
  	text-transform: uppercase;
}
.panel-heading img{max-width: 30px;}
.panel-body {
	padding:0;
}
.categories .category-container li a { display:block; }
.categories .category-container .panel-heading .far,
.categories .category-container .panel-heading .fas {
  color: #00547D;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}
.categories .category-container .panel-heading a {
  color: #00547D;
	font-size: 12px;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
	clear:both;
	display:block;
}
.categories .badge {
	margin-top:3px;
	display: inline-block;
  	padding: 2px 4px;
  	font-size: 11.844px;
  	font-weight: bold;
  	line-height: 14px;
  	color: #ffffff;
  	vertical-align: baseline;
  	white-space: nowrap;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  	background-color: #999999;
}
.badge-success {
	background-color: #00576A !important;
}

/* Carousel */
.carousel .carousel-inner .item img {width: 100%;}
.carousel-control {
  	position: absolute;
  	top: 40%;
  	left: 15px;
  	width: 40px;
  	height: 40px;
  	margin-top: -20px;
  	font-size: 60px;
  	font-weight: 100;
  	line-height: 30px;
  	color: #ffffff;
  	text-align: center;
  	background: #222222;
  	border: 3px solid #ffffff;
  	-webkit-border-radius: 23px;
  	-moz-border-radius: 23px;
  	border-radius: 23px;
  	opacity: 0.5;
  	filter: alpha(opacity=50);
}
.carousel-control:hover, .carousel-control:focus {
  	color: #ffffff;
  	text-decoration: none;
  	opacity: 0.9;
  	filter: alpha(opacity=90);
}

/*=========== Sidebar ================*/
.sidebar-nav.well { background: #f7f7f7; /* Old browsers http://www.colorzilla.com/gradient-editor/#f7f7f7+0,f6f6f6+27,e7e7e7+100;Custom*/
	background: -moz-linear-gradient(top, #f7f7f7 0%, #f6f6f6 27%, #e7e7e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(27%, #f6f6f6), color-stop(100%, #e7e7e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #f6f6f6 27%, #e7e7e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f7f7 0%, #f6f6f6 27%, #e7e7e7 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f7f7f7 0%, #f6f6f6 27%, #e7e7e7 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e7e7e7', GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #f7f7f7 0%, #f6f6f6 27%, #e7e7e7 100%); /* W3C */
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	margin: 0 0 10px;
	padding: 0px;
}
.sidebar-nav .panel-heading {padding:0;}
.sidebar-nav .inner {
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	margin: 0;
	padding: 10px; }
	.sidebar-nav h3 {
	background-color:#333;
	border-bottom: 2px solid #0090B3;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-shadow: 0 2px 2px #999999;
	color: #EDEDED;
	font-size: 17px;
	letter-spacing: 0;
	line-height: 23px;
	margin: -11px -11px 10px;
	padding: 4px 0 4px 10px;
	text-shadow: 1px 1px 0 rgba(66, 66, 66, 0.7);
}
.sidebar-nav li { padding:5px 0; border-bottom:1px solid #eee; }
.sidebar-nav li a {display:block;}
.sidebar-nav li:hover {background:rgba(237,237,237,.50);}
.footer-widget {float:left;}

/*================= Ad Detail Page ==========================*/
.picture a { float:left; margin: 0 20px 21px 0; }
.ie8 .picture a { }
.picture figure { height: auto; max-width: 110px; padding:0; margin:0; }
.picture figure img { border: 1px solid #CCCCCC; display: block; line-height: 0; max-width: 100%; height:auto; padding: 3px; }
.picture figure img:hover { border:1px solid #013F5C; box-shadow:0 0 5px rgba(194, 194, 194, 0.7); }
#share a { margin:0 5px 5px 0; float:left; }
.ie8 .picture figure { display:inline-block; float:left; }
.info { margin:14px 0; }
.info ul li { line-height:21px; width:40%; margin-right:4%; float:left; }
.price { color:#AE0C0C; font-size:1.2em; }
.emailme a { cursor:pointer; }
a > i { margin-right:5px; margin-top:1px; }
#email-me { margin-top:14px; }
#mail-me .control-group { margin-bottom:0; }
#contact-owner h3 { margin-bottom:7px; }
.picture a { float:left !important; margin-right:15px; }
.picture figure img { width:110px; max-width:110px !important; }
.info ul li { width:auto; }
#share a { float:left!important; margin:7px; }
#report_ad{margin:10px 0;}

/*================= Related Ads ==========================*/
.media-object{max-width: 64px;}
.media .label-danger{
	background-color: #00576A;
	font-size: 80%;
}

/* Modal */
.modal-backdrop {z-index:1;}
.modal-dialog {z-index:2;position:relative;}

/*================= Ad Listing Categorie ==========================*/
#listing-list h1 { margin-bottom:18px; }
#listing-list .list h2 { margin-bottom:14px; }
#listing-list .list ul { margin-bottom:14px; }
#listing-list .list ul li { line-height:21px; }
.pagination li.active a { font-weight:bold; }
.pagination ul>li>a:hover, .pagination ul>li>a:focus, .pagination ul>.active>a, .pagination ul>.active>span {background-color: #f5f5f5;}
.pagination {margin:5px 0;}
.pagination li a {color: #0C4A8A;}
.pagination ul>.active>a, .pagination ul>.active>span {color: #999; cursor: default; border-color:#ddd;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	z-index: 2;
  	color: #fff;
  	cursor: pointer;
  	background-color: white;
  	color:#999;
  	border-color: #ddd;
}
.list{word-wrap:break-word!important;}

/* ========== Footer ================*/
footer {position:relative; margin: 0; padding:10px 10px 0; border-bottom:3px solid #0090B3; color:white; background:#0090B3; }
footer:before {
  background: transparent url(../img/stripe1.png) repeat;
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}
footer a {color:white;}
.pages li { border-right: 1px; display: inline-block !important; padding:5px 10px; }
.pages li a {color:white; padding:0 10px !important;}
.pages li a:hover, .pages li a:focus, .pages li a:active {background:none;}
.pages li:first-child, .pages li:first-child a {padding-left:0 !important;}
.pages li:last-child { border-right:none; }
.ie7 .pages li { display: inline; }

.social-providers.list-inline > li {
  padding: 5px;
}
ul.list-inline{
  margin-bottom: 10px;
}

#myLocation #mapCanvas {
    height: 400px;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.button_strength {
  display: none;
}
.strength_meter{
  height:30px;
  width: 100%;
  background:silver;
  margin-top: 10px;
}
.strength_meter > div {
  width:100%;
  height:30px;
  text-align:center;
  color:#FFF;
  font-weight:bold;
  line-height:30px;
}
.strength_meter .veryweak{
  background-color: #a94442;
  border-color: #a94442!important
}
.strength_meter .weak{
  background-color: #8a6d3b;
  border-color: #8a6d3b!important;
}
.strength_meter .medium{
  background-color: #31708f;
  border-color: #31708f!important;
}
.strength_meter .strong{
  background-color: #3c763d;
  border-color: #3c763d!important;
}

.dropzone {
    border-width: 1px !important;
    border-style: dashed !important;
}

.fa, .fas {
    font-weight:900!important
}

/*yclas topbar style*/
.yclas-bar {
    padding-top: 110px;
}
.yclas-bar.body_fixed {
    padding-top: 40px;
}
.yclas-bar .navbar-fixed-top {
    top: 40px;
}

#toast-container > div{
  opacity: 1!important;
}
#toast-container a{
  color: #FFF!important;
}

/* Media queries */
@media only screen and (min-width : 768px) {
    .def-size-form input, .def-size-form select{max-width: 155px;}
    .def-size-form input.price {max-width: 135px;}
    .featured-posts { display:block; }
    .categories-navigation {margin:-15px 0 0 0;}
}

@media only screen and (min-width : 992px) {
    .js .collapsed {display:none !important;}
}


/* minimum height for content div */
@media only screen and (min-width : 320px) {
  #main {
    min-height: 540px;
  }
}

@media only screen and (min-width : 768px) {
  #main {
    min-height: 800px;
  }
}

@media only screen and (max-width : 480px) {
  .modal-body{
    max-height: calc(100vh - 150px);
    overflow-y: auto;
  }
  /* If fixed header, hide some others (due to it being to large in height) */
  .navbar-fixed-top .navbar-collapse #view-categories, .navbar-fixed-top .navbar-collapse .log {display:none;}
  .navbar-fixed-top .navbar-collapse .navbar-nav li  {width:100%;}
}

@media only screen and (max-width : 992px) {
  .navbar-header {
    min-height:60px;
  }
  .navbar-toggle {
    margin-top:16px;
    margin-bottom:8px;
  }
}

/* Responsive Button Groups */
@media only screen and (max-width : 480px) {
	.btn-group > .btn-group{
		display: block;
		width: 100%;
	}

	.btn-group > .btn-group:first-child > .btn {
		border-radius: 6px 6px 0 0;
	}

	.btn-group > .btn-group:first-child:not(:last-child):not(.dropdown-toggle) > .btn {
		border-top-right-radius: 6px;
	}

	.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
		border-radius: 0 0 6px 6px;
	}

	.btn-group .btn-group + .btn-group {
		margin-left: 0;
	}
}
