::-moz-selection{background-color: #f44336;}::selection{background-color: #f44336;}.btn-primary,h1:after,h2:after,h3:before,h4:before,h5:before,h6:before{background:#f44336}a{color:#f44336}a.active,a:focus,a:hover{color:#ef5350}.footer-copyright a.active,.footer-copyright a:focus,.footer-copyright a:hover,.hvr-icon-forward:before,.latest_ads .extra_info .more-link i,.list-group .caption h3 a:focus,.list-group .caption h3 a:hover,.listing_ads .extra_info .more-link i,.navbar-nav>li>a:focus,.navbar-nav>li>a:hover,.pagination li a,.pagination li span,.panel-sidebar .panel-body ul a.active,.panel-sidebar .panel-body ul a:focus,.panel-sidebar .panel-body ul a:hover,.tabbed ul li button.active,.tabbed ul li button:focus,.tabbed ul li button:hover,footer a.active,footer a:focus,footer a:hover{color:#f44336}.btn-primary{border-color:#f44336}.btn-primary:active,.btn-primary:focus,.btn-primary:active:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover{background:#ef5350;border-color:#ef5350}.featured-ads .extra_info,.featured-item .extra_info,.featured-ads .image_holder,.featured-item .image_holder,.filter #sort,.pagination .active a,.single #gallery .thumbnail.active,.single #gallery .thumbnail:focus,.single #gallery .thumbnail:hover,.tabbed-content{border-color:#f44336}.bannergroup,.category a.active,.category a:focus,.category a:hover,.pagination .active a,.single .extra_info .price{background:#f44336}.filter .active,.filter .active:focus,.filter .active:hover{background:#f44336;border-color:#f44336}.wizard li.active span.round-tab{border-color:#f44336;}.wizard li.active span.round-tab i{color:#f44336;}
.btn-success{
	border-color: #f44336;
	background: #f44336;
}
.btn-success:hover, .btn-success:active, .btn-success:focus{
	border-color: #ef5350!important;
	background: #ef5350!important;
}
.label-info{
    background-color: #f88e86;
}
.featured-ads,
.featured-item {
    border: 2px solid #f44336 !important;
}
.featured-ads .triangle-top-left,
.featured-item .triangle-top-left {
    border-top: 100px solid #f44336;
}

.featured-ads > .favorite,
.featured-item > .favorite {
    background: transparent;
}

.featured-ads > .picture,
.featured-item > .picture {
    border-color: transparent;
}
.btn-primary .badge {color: #f44336;}
footer .f-box-header{color: #f44336;}
/* Widgets*/
.slider-handle{
    background-color: #f44336;
    background-image: linear-gradient(to bottom, #f44336, #ef5350);
}

/* Forums */
.table > tbody > tr.success > td{
    background-color: #faefef;
}
.table > tbody > tr.success:hover > td {
    background-color: #f6e0e0;
}