.dropdown-menu{
    right: -20px !important;
}
.subnav .dropdown-large {
    position: static !important;
}
.dropdown-menu-large {
    right: inherit !important;
    margin-left: 16px !important;
    margin-right: 0px !important;
}
input[name="search"]{
    width: 100%;
}
.tab-pane > h3 {width:100%; text-align: right}
.tab-pane > h3::before{background: none;}
.pull-left{float:right;}
.sceditor-container {
    overflow: visible !important;
}
#st_gdpr_iframe {
    right: -5000px !important;
    left: auto !important;
}
@media (max-width: 575px) {
    div.sceditor-dropdown {
        left: auto!important;
        right: 0!important;
    }
}