a{color:#fff!important;}
a:hover{color:#888;}
.sweet-alert p {
    color: #797979!important;
}
.error {
    color: #ee5f5b!important;
}
.chosen-container .chosen-results li {
    color: #2b3e50;
}
.chosen-container-single .chosen-single span {
    color: #cccccc;
}
.slide_title {
    background: rgba(0,0,0,0.5);
}
.featured-ads,.featured-item{
    border: 2px solid #df691a !important;
}
/* list view */
.triangle-top-left { 
    border-top: 90px solid #df691a;
    margin:-7px;
}
/* grid view */
.grid-view .triangle-top-left { 
    border-top: 90px solid #df691a;
    margin:-10px;
}
.slider-handle{
    background-color: #df691a;
    background-image: linear-gradient(to bottom, #df691a, #e27830);
}