.subnav .nav > li > a{border: none;}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover{border-left: none;}
.nav-pills .open .dropdown-toggle{background-color: #000;}
.subnav .nav > li > a:hover{background-color: #000; color:#fff;}
.badge{border-radius: 0px;}
.chosen-container-single .chosen-single{
    height: 43px !important;
    border: 1px solid #ccc;
    padding: 10px 18px;
    background: #FFF;
    font-size: 15px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}
.chosen-container-single .chosen-single div b {
    margin-top: 10px;
}
.chosen-container-multi .chosen-choices {
    min-height: 43px !important;
    border: 1px solid #ccc;
    padding: 10px 10px;
    background: #FFF;
    font-size: 15px;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    color: #999999;
}
.featured-ads,.featured-item{background: #d3e5f9;}
li.price{color:#2780e3;}
.badge{background-color: #5299e8;}
.media .label-danger, .badge-success, .label-success{
    color: #ffffff;
    background-color: #2780e3;
    border-color: #2780e3;
}
.media .label-danger:hover, .badge-success:hover, .label-success:hover, .label-success:active, .label-success:focus{
    color: #fff;
    background-color: #1967be!important;
}
.btn-inverse, .btn-success{
    color: #000;
    background-color: #fff;
    border-color: #adadad;
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .open .dropdown-toggle.btn-inverse, .btn-success:hover, .btn-success:focus, .btn-success:active {
    color: #000!important;
    background-color: #e6e6e6!important;
    border-color: #c2c2c2!important;
}
.text-info, .text-info:hover {
    color: #2780e3;
}